
body{
 background: linear-gradient(to right, rgb(193, 227, 242),#4caed8 ) ; 
 text-align: center;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
.fundo{
     background-image:linear-gradient(  rgba(22, 20, 20, 0.5), rgba(247, 150, 150, 0.5),rgba(150, 173, 247, 0.5)),
 url('filmes\ e\ livros.png');/* adiciona uma imagem de fundo e um degrade sobre ela*/
  background-size: cover; /* A imagem cobre toda a área, mantendo a proporção */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  background-position: center; /* Centraliza a imagem */  
}
.titulo{
    margin: 0 auto 30px;
    padding: 20px 20px;
    background-color: #2980b9;
    font-size: 20px;
    color: rgb(247, 247, 247);
}

.opcoes {
    color: #333;  
    margin: 0; 
    padding: 20px; 
    height: 100vh; 
    display: flex;  
    flex-direction: column;  
    justify-content: center; 
}

a {
    width: 400px; 
    height: 50px;
    margin: 0 auto 30px;  
    padding: 10px 0px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #3498db;  
    color: white;  
    text-decoration: none;/* tira aquela linha debaixo do texto lincado*/ 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  
    transition: background-color 0.3s, transform 0.3s; 
}


a:hover {
    background-color: #2980b9; 
    transform: translateY(-3px); 
}


a:focus {
    outline: none; 
    box-shadow: 0 0 10px rgba(52, 152, 219, 0.6); 
}
 .texto2{
    font-size: 3vh; 
    margin-bottom: 25px; 
    max-width: 700px; 
    line-height: 1.6; 
    text-align:center;
    color: white;
}


/* DEIXAR RESPONSIVO CELULAR E TABLET*/

/* tablets (máximo 768px de largura) */
@media (max-width: 768px) {
    .titulo {
        font-size: 6vw; /* Título um pouco maior para celular */
        padding: 15px 10px;
    }
    
    a{
        width: 90%; /* Botões ocupam mais a tela do celular */
        margin: 10px auto;
        font-size: 1rem;
    }
}

/* celular (máximo 480px de largura) */
@media (max-width: 480px) {
    .titulo {
        font-size: 8vw; 
    }
    a {
        font-size: 16px;
    }
    /* Os botões e outros elementos já se ajustam bem com os estilos de 768px */
}
